@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.full-bodyColor{
    background-color: rgb(251, 244, 248);
}
*{
    font-family: 'Poppins',
            sans-serif;
}
.category:hover{
    color:rgb(141, 222, 253) ;
   
    
}
footer{
    position: relative;
    bottom: -0;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    height: 90px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 10px;

}